# Azure AI Foundry
AZURE_AI_PROJECT_ENDPOINT=https://aifcfh3y2fxzl3ji-foundry.services.ai.azure.com/api/projects/aifcfh3y2fxzl3ji-proj
AZURE_PROJECTS_ENDPOINT=https://aifcfh3y2fxzl3ji-foundry.services.ai.azure.com/api/projects/aifcfh3y2fxzl3ji-proj
AZURE_PROJECT_RESOURCE_ID=
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-4.1-mini
AZURE_OPENAI_MODEL=gpt-5

# MCP tool
MCP_SERVER_URL=https://api.githubcopilot.com/mcp
MCP_SERVER_LABEL=mcp-server
MCP_CONNECTION_NAME=mcp-connection
MCP_PROJECT_CONNECTION_ID=
MCP_PAT=
MCP_REQUIRE_APPROVAL=always
MCP_ALLOWED_TOOLS=
MCP_AUTO_APPROVE=true
MCP_AGENT_NAME=mcp-agent

# Telemetry (optional)
APP_INSIGHTS_CONNECTION_STRING=InstrumentationKey=96c8016e-8cc8-4126-996c-5698e6325add;IngestionEndpoint=https://eastus2-3.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus2.livediagnostics.monitor.azure.com/;ApplicationId=4939edb1-66bf-4da4-92e1-4d1efbcb07b5
OTEL_SERVICE_NAME=mcp-agent
OTEL_SERVICE_VERSION=0.1.0
OTEL_CAPTURE_MESSAGE_CONTENT=true
